body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.AppContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #e21d27;
  transition: 0.5s;
}
.innerAppContainer {
  max-width: 1114px;
  width: 100%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header .logo {
  height: 60px;
}
.mobileLogo {
  display: none;
}
header ul {
  display: flex;

}
header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
  margin: 0 20px;
  color: #ffffff;
  text-shadow: 1px 2px 4px #000000;
  display: inline-block;
}

header ul li a:after {    
  content: "";
  display: block;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header ul li a:hover:after { 
  width: 100%; 
  left: 0;
}
.toggle-menu {
  display: none;
  cursor: pointer;
  height: 32px;
}
.toggle-menu div {
  background-color: #ffffff;
  width: 30px;
  height: 3px;
  margin: 5px;
}

.toggle-menu :nth-child(2) {
  width: 25px;
  position: relative;
  left: 5px;
}

.content {
  display: flex;
  padding: 20px;
}
.content .article {
  max-width: 600px;
  width: 100%;
}

.content .article h2 {
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 900;
  color: #ffffff;
}

.content .article span {
  font-size: 2em;
}
.content .article p {
  color: #ffffff;
}
.content .article a {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px 20px;
  background-color: #ffffff;
  color: #111;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 1px 2px 4px #000000;
  transition: 0.5s;
}
.content .article a:hover {
  background-color: #868686;
  color: #ffffff;
}
.content .img {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-left: 50px;
}
.content .img img {
  max-width: 260px;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover {
  transform: translateY(-15px);
}
.thumb li img {
  max-width: 40px;
}

.social {
  position: relative;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social li {
  list-style: none;
  transition: 0.5s;
}
.social li a:hover {
  transform: translateY(1.5);
  color: #e21d27;
}

.social li a {
  display: inline-block;
  margin: 5px 0;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 3px 6px #000000;
}

@media (max-width: 767px) {
  .mobileLogo {
    display: block;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 20px;
  }
  header ul {
    position: fixed;
    background-color: #e21d27;
    width: 75%;
    top: 0;
    left: -100%;
    right: 0;
    height: 100vh;
    z-index: 99;
    display: block;
    -webkit-box-shadow: 1px 0px 20px -6px rgba(201, 193, 201, 1);
    -moz-box-shadow: 1px 0px 20px -6px rgba(201, 193, 201, 1);
    box-shadow: 1px 0px 20px -6px rgba(201, 193, 201, 1);
    transition: 0.5s ease-in-out;
  }
  header ul li {
    margin-bottom: 10px;
  }
  header ul li a {
    font-size: 1.5em;
  }
  header ul.showMenu {
    left: 0;
  }
  .toggle-menu {
    display: block;
  }
}

@media (max-width: 950px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .content .article,
  .content .img {
    width: 100%;
    padding: 0;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
  }

  .thumb {
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media (max-width: 570px) {
  .content .article h2 {
    font-size: 2em;
  }
}

@media (max-width: 300px) {
  .content .article span {
    font-size: 1.5em;
  }
}
@media (max-width: 280px) {
  .content .img {
    flex-direction: column;
  }
  .social {
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
